name: Run tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: ./strajk-bowling/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ./strajk-bowling

      - name: Run tests and generate coverage
        run: npm test
        working-directory: ./strajk-bowling
